            <div>
  <!-- column -->
  <p style="white-space: pre-wrap;">
    Join us on Friday nights, March through May 2019, at <a href="http://scoretennis.net/" style="color:purple;font-weight:800"> SCORE Tennis Club </a>in Countryside for
    a series of tennis drill mixer/auctions. These will start March 1, 2019, and help us build world-class Pavillion seating at Spring Rock Park in Western Springs.
  </p>
  <table>
    <tr>
      <td>
        <img src="assets/images/upsta.png" />
      </td>
      <td valign="middle">
        <b>USPTA pros</b>, including
        <b>Simon Piacente</b>,
        <b> Dave Evans,</b> and
        <b>Dan Koucky</b>, and former junior director,
        <b> Mark Hansen </b>will be leading drills.
      </td>
    </tr>
  </table>

  <ul>

    <li> Refreshments are included in the ticket price.</li>
    <li>
      A silent auction and an opportunity to sponsor a stadium seat<b> (only 28 available)</b> where
      your name will be permanently posted and live on in West Suburban tennis infamy, will be available too!
    </li>
    
        
    <li>
      Minimum of $100 dollars in pledges for admission to "Hit-a-Thon""
      </li>
  </ul>

  <p>
    Come to a fun-filled tennis drill/mixer/auction!
    In efforts to build a World-Class seating pavilion, we need the help of the entire tennis community to raise funds.
    We will be conducting fun-filled mixers/auctions to help promote this project.
    <br />
    Please help in our efforts to trailblaze a new future at Spring Rock Park.
  </p>

<br />
  Please make check payable to:
<b> Western Springs Tennis Pavilion Fund</b>

</div>

