<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"> Board of Directors  </h4>
  <div>
    <dl class="row">
      <dt class="col-sm-3  ">President</dt>
      <dd class="col-sm-4">Mitch Mazzone</dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">Vice President</dt>
      <dd class="col-sm-4">Brian Hickey</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Treasurer</dt>
      <dd class="col-sm-4">Sue Pitacorra, CPA</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Secretary</dt>
      <dd class="col-sm-4">Kathy Johns</dd>
    </dl>


    <div>
      <dl class="row">
        <dt class="col-sm-3  ">Advisory Board</dt>
        <dd class="col-sm-4">Dan Konecky, USPTA</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3  ">Advisory Board</dt>
        <dd class="col-sm-4">Karen O'Sullivan, USPTA</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3  ">Advisory Board</dt>
        <dd class="col-sm-4">Mark Hansen</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3  ">Advisory Board</dt>
        <dd class="col-sm-4">Jennifer Pohl</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3  ">Advisory Board</dt>
        <dd class="col-sm-4">Simon Piacente Konecky, USPTA</dd>
      </dl>
    </div>

    <br />

    <dl class="row">
      <dt class="col-sm-3  ">IT Director</dt>
      <dd class="col-sm-4">Paul Zemgulys</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Architect and Design</dt>
      <dd class="col-sm-4">Jeannette Graziano</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Auction Chairman/Publicity Catering Manager</dt>
      <dd class="col-sm-4">Kathy Johns</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Mixer Drills Director</dt>
      <dd class="col-sm-4">Kathy Johns</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3  ">Facebook, Instagram Director</dt>
      <dd class="col-sm-4">Sabrina Mazzone</dd>
    </dl>


  </div>



</div>


