<div>
  <label style="font-weight:500">Coach Brian Hickey, Div I Player, at Valparaiso University</label><br />
  <img src="assets/images/history/ws4bbrianhickey.png" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />

<div>
  <label style="font-weight:500">
    Agata Mikos, WS Tennis Coach<br />
    2018 CDTA Junior Female Player of the Year<br />
    #3 Midwest G18s<br />
    Signed Letter of Intent to play at Georgetown University.<br />
  </label><br />
  <img src="assets/images/history/AgataMikos.png" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />

<div>
  <label style="font-weight:500">
    Jake Elliot, Western Springs tennis<br />
    (Player and Tennis Coach for WS tennis)<br />
    2018 Super Bowl Champion<br />
  </label><br />
  <img src="assets/images/history/JakeElliot.png" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />


<div>
  <label style="font-weight:500">Mason!</label><br />
  <img src="assets/images/history/ws1.jpg" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />

<div>
<label style="font-weight:500">
  Alexandria Chatt of Western Springs Tennis<br />
  (honed her championship skills at the "Rock")<br />
  Finished 3rd at State in Singles!!!<br />
  2018 Northwestern Big Ten Champions!!!<br />
  Image Coming Soon
</label>
</div>
<br /><br />


<div>
  <label style="font-weight:500"></label><br />
  <img src="assets/images/history/ws2.jpg" alt="homepage" class="dark-logo">
</div>
<br /><br />

<div>
  <label style="font-weight:500"></label><br />
  <img src="assets/images/history/ws3.jpg" alt="homepage" class="dark-logo" rotate="90">
</div>
<br /><br />
