<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://raw.githubusercontent.com/jamietre/ImageMapster/e08cd7ec24ffa9e6cbe628a98e8f14cac226a258/dist/jquery.imagemapster.js"></script>
</head>

<div>
  <div>
    <h4>Purchase a stadim seat, or table by clicking on the desired location</h4><br />
  </div>


  <div>


    <script>
      var image = $('#image');

      image.mapster({
        mapKey: 'id',
      });


    </script>


    <img id="image" src="assets/images/pavilionSeatingLinks.png" usemap="#imgmap">

    <map name="imgmap">
      <area target="_blank" id="NE1" alt="NE1" title="Northeast 1" href="https://www.eventbrite.com/e/seat-northeast-1-sponsorship-western-springs-tennis-pavilion-tickets-56293090148" coords="137,400,179,444" shape="rect">
      <area target="_blank" id="NE2" alt="NE2x" title="Northeast 2" href="https://www.eventbrite.com/e/seat-northeast-2-sponsorship-western-springs-tennis-pavilion-tickets-56293980812" coords="191,395,233,444" shape="0">
      <area target="_blank" id="NE3" alt="NE3x" title="Northeast 3" href="https://www.eventbrite.com/e/seat-northeast-3-sponsorship-western-springs-tennis-pavilion-tickets-56293985827" coords="243,396,283,444,295,397,334,441" shape="0">
      <area target="_blank" id="NE4" alt="NE4x" title="Northeast 4" href="https://www.eventbrite.com/e/seat-northeast-4-sponsorship-western-springs-tennis-pavilion-tickets-56293993851" coords="297,400,340,440" shape="0">
      <area target="_blank" alt="NE5" title="Northeast 5" href="https://www.eventbrite.com/e/seat-northeast-5-sponsorship-western-springs-tennis-pavilion-tickets-56293996860" coords="348,396,386,441,399,396,442,443" shape="0">
      <area target="_blank" alt="NE6" title="Northeast 6" href="https://www.eventbrite.com/e/seat-northeast-6-sponsorship-western-springs-tennis-pavilion-tickets-56294005887" coords="397,397,441,442" shape="0">
      <area target="_blank" alt="NE7" title="Northeast 7" href="https://www.eventbrite.com/e/seat-northeast-7-sponsorship-western-springs-tennis-pavilion-tickets-56294017923" coords="451,397,494,442" shape="0">
      <area target="_blank" alt="NW1" title="NW1" href="http://www.eventbrite.com/" coords="643,399,683,441" shape="0">
      <area target="_blank" alt="NW2" title="NW2" href="http://www.eventbrite.com/" coords="695,397,739,440" shape="0">
      <area target="_blank" alt="NW3" title="NW3" href="http://www.eventbrite.com/" coords="747,396,788,443" shape="0">
      <area target="_blank" alt="NW4" title="NW4" href="http://www.eventbrite.com/" coords="800,396,842,443" shape="0">
      <area target="_blank" alt="NW5" title="NW5" href="http://www.eventbrite.com/" coords="850,399,893,443" shape="0">
      <area target="_blank" alt="NW6" title="NW6" href="http://www.eventbrite.com/" coords="901,396,946,444" shape="0">
      <area target="_blank" alt="NW7" title="NW7" href="http://www.eventbrite.com/" coords="955,398,997,447" shape="0">
      <area target="_blank" alt="This seat has been purchased" title="SE1" href="" coords="140,86,182,132" shape="0">
      <area target="_blank" alt="SE2" title="SE2" href="http://www.eventbrite.com/" coords="190,87,232,131" shape="0">
      <area target="_blank" alt="SE3" title="SE3" href="http://www.eventbrite.com/" coords="244,88,285,132" shape="0">
      <area target="_blank" alt="SE4" title="SE4" href="http://www.eventbrite.com/" coords="294,88,337,132" shape="0">
      <area target="_blank" alt="SE5" title="SE5" href="http://www.eventbrite.com/" coords="348,87,389,129" shape="0">
      <area target="_blank" alt="SE6" title="SE6" href="http://www.eventbrite.com/" coords="400,86,439,135" shape="0">
      <area target="_blank" alt="SE7" title="SE7" href="http://www.eventbrite.com/" coords="450,85,496,127" shape="0">
      <area target="_blank" alt="SW1" title="SW1" href="http://www.eventbrite.com/" coords="643,82,687,131" shape="0">
      <area target="_blank" alt="SW2" title="SW2" href="http://www.eventbrite.com/" coords="695,83,736,132" shape="0">
      <area target="_blank" alt="SW3" title="SW3" href="http://www.eventbrite.com/" coords="746,84,789,132" shape="0">
      <area target="_blank" alt="SW4" title="SW4" href="http://www.eventbrite.com/" coords="799,85,838,131" shape="0">
      <area target="_blank" alt="SW5" title="SW5" href="http://www.eventbrite.com/" coords="849,85,893,131" shape="0">
      <area target="_blank" alt="SW6" title="SW6" href="http://www.eventbrite.com/" coords="903,84,944,131" shape="0">
      <area target="_blank" alt="SW7" title="SW7" href="http://www.eventbrite.com/" coords="955,85,1003,135" shape="0">
      <area target="_blank" alt="US Open" title="US Open" href="http://www.eventbrite.com/" coords="132,201,254,324" shape="0">
      <area target="_blank" alt="French Open" title="French Open" href="http://www.eventbrite.com/" coords="317,203,441,330" shape="0">
      <area target="_blank" alt="Australian Open" title="Australian Open" href="http://www.eventbrite.com/" coords="506,199,635,327" shape="0">
      <area target="_blank" alt="Wimbledon" title="Wimbledon" href="http://www.eventbrite.com/" coords="693,202,816,323" shape="0">
      <area target="_blank" alt="Indian Wells" title="Indian Wells." href="http://www.eventbrite.com/" coords="884,207,1002,327" shape="0">
    </map>


    



  </div>

</div>

</html>
