
body {
  font-family: Arial, Helvetica;
  font-size: 12px;
  padding: 10px;
}

p {
  padding-bottom: 10px;
}

li {
  list-style-position: outside;
  list-style-type: disc;
  padding-bottom: 6px;
  margin-left: 20px;
}

a.showhide {
  text-decoration: none;
}

.box {
  white-space: normal;
  width: 100%;
  padding-bottom: 6px;
}

.box-inner {
  border: 1px solid black;
  padding: 6px;
  overflow-x: hidden;
  white-space: normal;
}
