
<div>
  <label style="font-weight:500"></label><br />
  <img src="assets/images/history/history1.png" alt="homepage" class="dark-logo">
</div>
<br /><br />

<div>
  <label style="font-weight:500">1983 - when the tennis shed "burned down"!</label><br />
  <img src="assets/images/history/83TennisShedBurnedDown.jpg" style="width:350px;height:250px;" alt="homepage" class="dark-logo">
</div>
<br /><br />
<div>
  <label style="font-weight:500">1986  - Wester Springs, team unity picture</label><br />
  <img src="assets/images/history/1986TeamUnityPicture.jpg" style="width:250px;height:350px;" alt="homepage" class="dark-logo">
</div>

<br /><br />
<div>
  <label style="font-weight:500">1987  - Dave and Todd sweeping the courts</label><br />
  <img src="assets/images/history/87DaveAndToddCromeckSweeping.jpg" style="width:350px;height:250px;" alt="homepage" class="dark-logo">
</div>

<br /><br />
<div>
  <label style="font-weight:500">1989  - A fraction of the 850 Juniors</label><br />
  <img src="assets/images/history/89JuniorsAFewOfThe850.jpg" style="width:350px;height:250px;" alt="homepage" class="dark-logo">
</div>


<br /><br />
<div>
  <label style="font-weight:500">1989  - Todd </label><br />
  <img src="assets/images/history/89ToddAndAndy.jpg" style="width:350px;height:250px;" alt="homepage" class="dark-logo">
</div>

<br /><br />
<div>
  <label style="font-weight:500">  </label><br />
  <img src="assets/images/history/ToddAnd.jpg" style="width:350px;height:250px;" alt="homepage" class="dark-logo">
</div>


<br /><br />
<div>
  <label style="font-weight:500">  </label><br />
  <img src="assets/images/history/uncertain1.jpg" style="width:350px;height:250px;" alt="homepage" class="dark-logo">
</div>

<br /><br />
<div>
  <label style="font-weight:500">  </label><br />
  <img src="assets/images/history/uncertain2.jpg" style="width:350px;height:250px;" alt="homepage" class="dark-logo">
</div>

<br /><br />
<div>
  <label style="font-weight:500">2015  - Western Springs Tennis Staff</label><br />
  <img src="assets/images/history/WSTennisStaff2015.png" style="width:300px;height:250px;" alt="homepage" class="dark-logo">
</div>

