
<div class="p5">
  <h4 class="alert-heading">For more information: wstennispavilion@gmail.com </h4>
  <br />
  <h4 class="alert-heading"> Please send all donations to:</h4>
  <br />

  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading"> Western Springs Tennis Pavilion Fund </h4>
    <div>
      <dl class="row">
        <dt class="col-sm-3  ">Re:  Spring Rock Tennis Pavilion</dt>
      </dl>
      <dl class="row">
        <dt class="col-sm-3  ">  P.O.Box 24</dt>
      </dl>
      <dl class="row">
        <dt class="col-sm-3  ">Western Springs, IL 60558</dt>
      </dl>

    </div>
  </div>

</div>
